body {
  margin: 0 auto;
  width: 10rem;
  font-family: "Helvetica Neue Light", Arial;
  -webkit-font-smoothing: antialiased;
  background: #f1f1f1;
  padding-bottom: 0.4rem;
}

html {
  background: #f1f1f1;
}

.fx {
  clear: both;
}

.fm {
  font-family: arial;
}

.hide {
  display: none !important;
}







.c_r {
  color: #f8382b;
}

.c_y {
  color: #f7a82c;
}

.haveget-bg {
  position: absolute;
  background: url("../image/haveget_bg.png") no-repeat;
  width: 10rem;
  background-color: #373447;
  height: 17.786667rem;
  top: 0;
  left: 0;
  background-size: 100% 100%;
}
.finish-bg{
  position: absolute;
  background: url("../image/finish-bg.png") no-repeat;
  width: 10rem;
  background-color: #373447;
  height: 17.786667rem;
  top: 0;
  left: 0;
  background-size: 100% 100%;
}

.giftpimg {
  width: 6.746667rem;
  height: 8.093333rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.fail-bg{
  position: absolute;
  background: url("../image/fail-bg.png") no-repeat;
  width: 10rem;
  background-color: #373447;
  height: 17.786667rem;
  top: 0;
  left: 0;
  background-size: 100% 100%;

}

.gift-bg {
  position: absolute;
  background: url("../../image/gift-bg.png") no-repeat;
  width: 10rem;
  background-color: #373447;
  height: 17.786667rem;
  top: 0;
  left: 0;
  padding-top: 0.013333rem;
  background-size: 100% 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

/*.gift-info-bg{
  position: relative;
  background: url("../../image/gift-info-bg.png") no-repeat;
  background-size:100% 100%;
  width: 600px;
  height: 800px;
  margin: auto;
  margin-top: 220px;
  margin-bottom: 60px;
  .gift-icon{
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .cof{
    background: url("../../image/gift-cof.png") no-repeat;
    background-size:100% 100%;
    width: 360px;
    height: 541px;
    top: -20px;
  }
  .tt{
    background: url("../../image/gift-tt.png") no-repeat;
    background-size:100% 100%;
    width: 300px;
    height: 300px;
    top: 290px;
  }
  .wl{
    background: url("../../image/gift-wl.png") no-repeat;
    background-size:100% 100%;
    width: 300px;
    height: 200px;
    top: 320px;
  }
  .title{
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 34px;/!*px*!/
    left: 0px;
    right: 0px;
    margin: auto;
    font-weight: bold;
    bottom: 110px;
    color: #333;



  }
  .des{
    width: 560px;
    position: absolute;
    text-align: center;
    padding: 0px 20px;
    font-size: 30px;/!*px*!/
    left: 0px;
    right: 0px;
    margin: auto;
    font-weight: bold;
    bottom: 60px;
    color: #666;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;


  }


}*/

.content {
  top: 12rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.content .title {
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 0.133333rem;
}

.content .des {
  width: 10rem;
  margin: auto;
  font-weight: bold;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0.066667rem;
}

.content .des1 {
  width: 10rem;
  text-align: center;
  margin: auto;
  color: #fff;
}

.ll-info-bg {
  position: relative;
  background: url("../../image/gift-ll.png") no-repeat;
  background-size: 100% 100%;
  width: 10rem;
  height: 11.426667rem;
  margin: auto;
  margin-top: 0.533333rem;
}

.info-warp {
  display: -webkit-box;
  -webkit-box-align: center;
  width: 7.866667rem;
  margin: auto;
  margin-top: 1.2rem;
}

.info-warp .icon {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 100%;
  border: 3px solid #fff;
  display: block;
  margin-right: 0.266667rem;
}

.info-warp .text-warp {
  -webkit-box-flex: 1;
  color: #ffffff;
}

.info-warp .text-warp .des {
  margin-top: 0.08rem;
}

.down-info {
  top: 14.866667rem;
  position: absolute;
  /*  .down-text{
    color: #fff;
    font-size: 28px;/!*px*!/
    text-align: center;
    margin-bottom: 10px;

  }*/
  left: 0;
  right: 0;
  margin: auto;
}

.down-info .down-but {
  color: #7b4407;
  font-weight: bold;
  width: 7.2rem;
  margin: auto;
  height: 1.066667rem;
  line-height: 1.066667rem;
  background: #fef800;
  border-radius: 1.066667rem;
  text-align: center;
}

a {
  color: #333;
}

a:hover {
  color: #333;
}

a:active {
  color: #333;
}

[data-dpr="1"] .fz34 {
  font-size: 17px;
}

[data-dpr="2"] .fz34 {
  font-size: 34px;
}

[data-dpr="3"] .fz34 {
  font-size: 51px;
}

[data-dpr="1"] .fz30 {
  font-size: 15px;
}

[data-dpr="2"] .fz30 {
  font-size: 30px;
}

[data-dpr="3"] .fz30 {
  font-size: 45px;
}

[data-dpr="1"] .fz28 {
  font-size: 13px;
}

[data-dpr="2"] .fz28 {
  font-size: 26px;
}

[data-dpr="3"] .fz28 {
  font-size: 39px;
}

[data-dpr="1"] .content .title {
  font-size: 17px;
}

[data-dpr="2"] .content .title {
  font-size: 34px;
}

[data-dpr="3"] .content .title {
  font-size: 51px;
}

[data-dpr="1"] .content .des {
  font-size: 15px;
}

[data-dpr="2"] .content .des {
  font-size: 30px;
}

[data-dpr="3"] .content .des {
  font-size: 45px;
}

[data-dpr="1"] .content .des1 {
  font-size: 15px;
}

[data-dpr="2"] .content .des1 {
  font-size: 30px;
}

[data-dpr="3"] .content .des1 {
  font-size: 45px;
}

[data-dpr="1"] .info-warp .text-warp {
  font-size: 14px;
}

[data-dpr="2"] .info-warp .text-warp {
  font-size: 28px;
}

[data-dpr="3"] .info-warp .text-warp {
  font-size: 42px;
}

[data-dpr="1"] .info-warp .text-warp .des {
  font-size: 12px;
}

[data-dpr="2"] .info-warp .text-warp .des {
  font-size: 24px;
}

[data-dpr="3"] .info-warp .text-warp .des {
  font-size: 36px;
}

[data-dpr="1"] .down-info .down-but {
  font-size: 18px;
}

[data-dpr="2"] .down-info .down-but {
  font-size: 36px;
}

[data-dpr="3"] .down-info .down-but {
  font-size: 54px;
}